<section id="example-carousel">
  <div id="myCarousel" class="carousel">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <%= image_tag "banner-facebook.png" %>
        <div class="carousel-caption">
          <h4>since 2005</h4>
          <p>http://www.facebook.com/tsuyoshi.ogawa</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag "banner-twitter.png" %>
        <div class="carousel-caption">
          <h4>since 2009</h4>
          <p>http://twitter.com/2yo4</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag "banner-tumblr.png" %>
        <div class="carousel-caption">
          <h4>since 2012</h4>
          <p>http://blog.milkcho.co/</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag "banner-linkedin.png" %>
        <div class="carousel-caption">
          <h4>since 2010</h4>
          <p>http://linkd.in/IZfyYD</p>
        </div>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
</section>