<section id="example-carousel">
  <div id="myCarousel" class="carousel">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <%= link_to image_tag("banner1/banner-facebook.png"), "http://www.facebook.com/tsuyoshi.ogawa", :target => "_blank" %>
        <div class="carousel-caption">
          <h4>since 2005</h4>
          <p>http://www.facebook.com/tsuyoshi.ogawa</p>
        </div>
      </div>
      <div class="item">
        <%= link_to image_tag("banner1/banner-twitter.png"), "http://twitter.com/2yo4", :target => "_blank" %>
        <div class="carousel-caption">
          <h4>since 2009</h4>
          <p>http://twitter.com/2yo4</p>
        </div>
      </div>
      <div class="item">
        <%= link_to image_tag("banner1/banner-tumblr.png"), "http://blog.milkcho.co/", :target => "_blank" %>
        <div class="carousel-caption">
          <h4>since 2012</h4>
          <p>http://blog.milkcho.co/</p>
        </div>
      </div>
      <div class="item">
        <%= link_to image_tag("banner1/banner-linkedin.png"), "http://linkd.in/IZfyYD", :target => "_blank" %>
        <div class="carousel-caption">
          <h4>since 2010</h4>
          <p>http://linkd.in/IZfyYD</p>
        </div>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
</section>